.footer {
    @extend %site-width;
    position: relative;
    padding: 0;
    z-index: 1;
	footer {
        display: flex;
        align-items: center;
        padding: 40px;
        background: darken($purple, 10%);
        color: $yellow;
		justify-content: space-between;
		flex-wrap: wrap;
    }
    .footer-main {
        box-sizing: border-box;
    }
	.logo {
        @extend %transition;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 50px;
        padding-left: 20px;
        > a {
            display: block;
            width: 50%;
            max-width: 220px;
            margin-right: 5%;
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 1;
            }
        }
		img {
            position: relative;
			display: block;
            width: 100%;
            z-index: 1;
        }
    }
	.social {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-family: $heading-font;
        a {
            @extend %transition;
            display: inline-block;
            padding: 5px 5px;
            color: #FFF;
            font-size: 1.5em;
            line-height: 0.75;
            text-decoration: none;
            &:hover, &:focus {
                color: #FFF;
                transform: scale(1.08);
                text-shadow: 0 0 20px rgba(lighten(#FFF, 10%), .75);
			}
			&:first-child {
				width: 100%;
			}
            svg {
                display: block;
                min-width: 28px;
                max-width: 28px;
            }
            &.phone {
                padding: 10px 10px;
            }
        }
	}
	.footer-nav {
        display: flex;
        flex-wrap: wrap;
		margin-bottom: 40px;
        a {
            @extend %transition;
            position: relative;
            display: inline-block;
            color: #FFF;
            padding: $pad/8 $pad/6;
            text-decoration: none;
            text-align: center;
            font-family: $heading-font;
            font-size: 1.4em;
            outline: none;
            &:hover, &:focus {
                transform: scale(1.08);
                text-shadow: 0 0 50px rgba(255, 255, 255, .75);
            }
            &:active {
                color: #FFF;
            }
            &.active {
                background: $purple;
                color: $yellow;
            }
            > span {
                position: relative;
                z-index: 1;
            }
        }
    }
	.copyright {
		flex: 100%;
		color: rgba(#FFF, .5);
	}
}

@media (min-width: 1281px) {
    .footer {
        footer {
            margin: 0 -40px;
            padding-left: calc(5% + 40px);
            padding-right: calc(5% + 40px);
            &::before, &::after {
                content: '';
                position: absolute;
                bottom: 100%;
                border-bottom: 15px solid darken($purple, 15%);
            }
            &::before {
                left: -40px;
                border-left: 40px solid transparent;
            }
            &::after {
                right: -40px;
                border-right: 40px solid transparent;
            }
        }
        .logo > a {
            margin-right: 60px;
        }
    }
}

@media (max-width: 900px) {
    .footer footer {
        padding: $mobile-pad/2 5%;
    }
}
@media (max-width: 800px) {
    .footer .social a:not(.phone) {
        padding: 2px 4px;
    }
}

@media (min-width: 721px) {
    .footer {
        .footer-main {
            margin-left: -$pad/6;
            width: 55%;
            padding-right: 30px;
        }
        .fb-page {
            width: 45%;
            margin-bottom: -1.65em;
        }
    }
}

@media (max-width: 720px) {
    .footer {
        text-align: center;
        footer {
            flex-direction: column;
        }
        .logo {
            margin: 0 auto $mobile-pad/2;
        }
        .footer-nav {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -15px 20px;
            a {
                padding-left: $mobile-pad/4;
                padding-right: $mobile-pad/4;
            }
        }
        .social {
            text-align: left;
            a {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .fb-page {
            margin-bottom: $mobile-pad/2;
            width: 100%;
        }
        .copyright {
            order: 2;
        }
    }
}

@media (max-width: 450px) {
    .footer .footer-nav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
